<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact us page</title>
  </head>
  <body>
    <h1>Email: puthut.pandu13@students.unnes.ac.id</h1>
    <h1>Number: +62081234567</h1>
    <button>
      <a href="/">Kembali ke halaman utama</a>
    </button>
  </body>
</html>
