<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Puthut Pandu Wijaya" />
    <meta name="descriptions" content="yang kalah bayar Rp.5000" />
    <title>Challenge Chapter 4</title>

    <!-- Stylesheet BGK-->
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <!-- navigation -->

    <header>
      <div class="julo">
        <img class="logo" src="asset/img/logo.png" />
        <h1 class="judul">Batu Gunting Kertas</h1>
        <a href="/">Kembali/a>
      </div>
    </header>

    <!-- Player Vs Com -->

    <div class="game-bgk">
      <!-- Player -->
      <h1 class="nama-1">Player 1</h1>
      <div class="player">
        <div class="tombol-player">
          <button
            class="player-tools app gambar"
            style="background-color: transparent; border: none"
            id="click-b"
          >
            <img src="asset/img/batu.png" alt="batu" />
          </button>
          <button
            class="player-tools app gambar"
            style="background-color: transparent; border: none"
            id="click-g"
          >
            <img src="asset/img/gunting.png" alt="gunting" />
          </button>
          <button
            class="player-tools app gambar"
            style="background-color: transparent; border: none"
            id="click-k"
          >
            <img src="asset/img/kertas.png" alt="kertas" />
          </button>
        </div>
      </div>

      <!-- Navigasi & Refresh -->
      <div class="navigasi">
        <h2 class="versus" id="versus-box">Versus</h2>
      </div>

      <div class="tombol-refresh">
        <button
          class="player-tools app gambar-com"
          style="background-color: transparent; border: none"
        >
          <img class="refresh" src="asset/img/refresh.png" alt="mengulang" />
        </button>
      </div>

    <h1 class="nama-com">COM</h1>
    <div class="computer">
      <div class="tombol-com">
        <button
          class="player-tools app gambar-com"
          style="background-color: transparent; border: none"
          id="clickcom-b"
        >
          <img src="asset/img/batu.png" alt="batu" />
        </button>
        <button
          class="player-tools app gambar-com"
          style="background-color: transparent; border: none"
          id="clickcom-g"
        >
          <img src="asset/img/gunting.png" alt="gunting" />
        </button>
        <button
          class="player-tools app gambar-com"
          style="background-color: transparent; border: none"
          id="clickcom-k"
        >
          <img src="asset/img/kertas.png" alt="kertas" />
        </button>
      </div>
    </div>

    <!-- scirpt Javascript -->
    <script src="index.js"></script>
    <!--  -->
  </body>
</html>
