<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Work page</title>
  </head>
  <body>
    <h1>muridnya Bli Kadek ni!</h1>
    <h10>tapi bukan murid yang pintar - pintar amat #SayaSadarDiri</h10>
    <button>
      <a href="/">Kembali ke halaman utama</a>
    </button>
  </body>
</html>
